/Library/
/Temp/
/Obj/
/Build/
/Logs/
/UserSettings/
/QA_Screenshots/
/MemoryCaptures/
/Recordings/
/*.log

/[0-9].png
/[0-9][0-9].png
/WhatsApp Image*.jpeg
/WhatsApp Image*.jpg

*.csproj
!LegacyPrototypes/**/*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.vs/
.vscode/
.idea/
.DS_Store
Thumbs.db

LegacyPrototypes/**/bin/
LegacyPrototypes/**/obj/
